//colors
$primary-color: null;
$secondary-color: null;
$tertiary-color: null;

//fonts
$primary-font: "Courier New";
$secondary-font: Helvetica;

$font-size-body: 16px;
$font-size-secondary: 14px;

//add rem font sizing orr % based font sizing

//breakpoints
$media-lg: 1200px;
$media-sm: 800px;
